<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: pink"></span>
    <span class="sg-label">
      $ac--1 <br />
      pink
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: cornflowerblue"></span>
    <span class="sg-label">
      $ac--2 <br />
      cornflowerblue
    </span>
  </li>
</ul>
