<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: green"></span>
    <span class="sg-label">
      $uc--positive <br />
      green
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: orange"></span>
    <span class="sg-label">
      $uc--caution <br />
      orange
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: red"></span>
    <span class="sg-label">
      $uc--warning <br />
      red
    </span>
  </li>
</ul>
